{# Provides customer type, salutation, title, firstname, lastname and birthday fields for address forms (e.g. registering a user, creating or updating an address) #}
{# Registrierung nur als Firma #}
{% block component_address_personal_fields %}
    {% block component_address_personal_account_type %}
        {% if shopware.config.core.loginRegistration.showAccountTypeSelection and not hideCustomerTypeSelect %}
            <div class="form-row">
                <div class="form-group col-md-3 col-sm-6 contact-type">
                    {% block component_address_personal_account_type_label %}
                        <label class="form-label"
                               for="{{ prefix }}accountType">
                            {{ "account.personalTypeLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                    {% endblock %}

                    {% block component_address_personal_account_type_select %}
                        {% set isCompany = false %}

                        {% if page.address.company or data.company is not empty %}
                            {% set isCompany  = true %}
                        {% endif %}

                        {% if accountType and accountType == constant('Shopware\\Core\\Checkout\\Customer\\CustomerEntity::ACCOUNT_TYPE_BUSINESS') %}
                            {% set isCompany  = true %}
                        {% endif %}

                        <br />
                        {% if isCompany == false and isLoginPage == false %}{{ "account.personalTypePrivate"|trans|sw_sanitize }}{% endif %}
                        {% if isCompany == true and isLoginPage == false %}{{ "account.personalTypeBusiness"|trans|sw_sanitize }}{% endif %}
                    {% endblock %}

                    {% block component_address_personal_account_type_error %}
                    {% endblock %}
                </div>
            </div>
        {% elseif not hideCustomerTypeSelect %}
            <input type="hidden" name="accountType">
        {% endif %}
    {% endblock %}

    {% block component_address_personal_fields_salutation_title %}
        <div class="form-row">
            {% block component_address_personal_fields_salutation %}
                <div class="form-group col-md-3 col-sm-6">
                    {% block component_address_personal_fields_salutation_label %}
                        <label class="form-label"
                               for="{{ prefix }}personalSalutation">
                            {{ "account.personalSalutationLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                    {% endblock %}

                    {% block component_address_form_salutation_select %}
                        {% for salutation in page.salutations %}
                            {% if salutation.id == data.get('salutationId') %}
                                <br />
                                {{ salutation.translated.displayName }}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_address_personal_fields_title %}
                {% if shopware.config.core.loginRegistration.showTitleField %}
                    <div class="form-group col-md-3 col-sm-6">
                        {% block component_address_personal_fields_title_label %}
                            <label class="form-label"
                                   for="{{ prefix }}personalTitle">
                                {{ "account.personalTitleLabel"|trans|sw_sanitize }}
                            </label>
                        {% endblock %}

                        {% block component_address_personal_fields_title_input %}
                            <br />
                            {{ data.get('title') }}
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block component_address_personal_fields_name %}
        <div class="form-row">
            {% block component_address_personal_fields_first_name %}
                <div class="form-group col-sm-6">
                    {% block component_address_personal_fields_first_name_label %}
                        <label class="form-label"
                               for="{{ prefix }}personalFirstName">
                            {{ "account.personalFirstNameLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                    {% endblock %}

                    {% block component_address_personal_fields_first_name_input %}
                        <br />
                        {{ data.get('firstName') }}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_address_personal_fields_last_name %}
                <div class="form-group col-sm-6">
                    {% block component_address_personal_fields_last_name_label %}
                        <label class="form-label"
                               for="{{ prefix }}personalLastName">
                            {{ "account.personalLastNameLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>
                    {% endblock %}

                    {% block component_address_personal_fields_last_name_input %}
                        <br />
                        {{ data.get('lastName') }}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block component_address_personal_company %}
        {% if shopware.config.core.loginRegistration.showAccountTypeSelection and activeRoute == 'frontend.account.profile.page' %}
            <div class="js-field-toggle-contact-type-company">
                {% block component_address_personal_company_fields %}
                    <div class="form-row">
                        {% block component_address_personal_company_name %}
                            <div class="form-group col-12">
                                {% if formViolations.getViolations("/company") is not empty %}
                                    {% set violationPath = "/company" %}
                                {% endif %}

                                {% block component_address_personal_company_name_label %}
                                    <label class="form-label" for="company">
                                        {{ "address.companyNameLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block component_address_personal_company_name_input %}
                                    <br />
                                    {{ data.get('company') }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {% block component_address_personal_vat_id %}
        {% if showVatIdField %}
            {% if shopware.config.core.loginRegistration.showAccountTypeSelection %}
                <div class="js-field-toggle-contact-type-company js-field-toggle-contact-type-vat-id">
                    {% block component_address_personal_vat_id_fields %}
                        <div class="form-row">
                            <div class="form-group col-12">
                                {% sw_include '@Storefront/storefront/component/address/address-personal-vat-id-view.html.twig' with {
                                    'vatIds': data.get('vatIds'),
                                    'editMode': true
                                } %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block component_address_personal_fields_birthday %}
        {% if showBirthdayField %}
            {% block component_address_personal_fields_birthday_label %}
                <label for="{{ prefix }}personalBirthday">
                    {{ "account.personalBirthdayLabel"|trans|sw_sanitize }}{{ shopware.config.core.loginRegistration.birthdayFieldRequired ? "general.required"|trans|sw_sanitize }}
                </label>
            {% endblock %}

            {% block component_address_personal_fields_birthday_selects %}
                <div class="form-row">
                    {{ data.get('birthdayDay') }}.{{ data.get('birthdayMonth') }}.{{ data.get('birthdayYear') }}
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}
