{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_footer %}
    {% block telexroll_footer_newsletter %}
        {% sw_include '@Storefront/storefront/layout/footer/footer-newsletter.html.twig' %}
    {% endblock %}
    {#  % block telexroll_footer_banner %}
        {% sw_include '@Storefront/storefront/layout/footer/footer-banner.html.twig' %}
    {% endblock %#}

    {{ parent() }}
{% endblock %}

{% block base_header_inner %}
    {{ parent() }}
    <div class="telexroll-search">
        <div class="container telexroll-search">
            <div class="row no-gutters">
                <div class="col-auto">
                    {% block layout_header_navigation_toggle_tablet %}
                        <div class="nav-main-toggle">
                            {% block layout_header_navigation_toggle_tablet_button %}
                                <button class="btn nav-main-toggle-btn header-actions-btn"
                                        type="button"
                                        data-offcanvas-menu="true"
                                        aria-label="{{ "general.menuLink"|trans|striptags }}">
                                    {% block layout_header_navigation_toggle_tablet_button_icon %}
                                        {% sw_icon 'stack' %}
                                    {% endblock %}
                                    <span class="d-none d-md-inline">{{ 'telexroll.categories'|trans }}</span>
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                <div class="col">
                    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                </div>
                <div class="col-auto">
                    <a href="#" class="btn ttf-main-toggle-btn" data-toggle="modal" data-target="#device-finder-popup">
                        {% sw_icon 'printer' %}
                        <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'telexroll.inkFinder'|trans }}&nbsp;&nbsp;{% sw_icon 'arrow-circle-down' %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_flashbags %}
    {% if page.header.navigation.active is defined %}
        {% set activeCategory = page.header.navigation.active %}
        {% if activeCategory.media.url is defined %}
            <div class="category-main-image"><img src="{{ activeCategory.media.url }}" alt="{{ activeCategory.translated.name }}"></div>
        {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}
