{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_hotline %}

    <div class="col-md-4 col-lg-3 footer-column js-footer-column">
        {% block layout_footer_navigation_hotline_headline %}
            {{ parent() }}
        {% endblock %}

        {% block layout_footer_navigation_hotline_content %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}


{% block layout_footer_navigation_column %}
    <div class="col-md-4 col-lg-3 footer-column js-footer-column">
        {% block layout_footer_navigation_information_headline %}
            {{ parent() }}
        {% endblock %}

        {% block layout_footer_navigation_information_content %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}


{% block layout_footer_shipping_logos %}
    {{ parent() }}
    <div class="footer-logo is-social">
        {% sw_include '@Storefront/storefront/layout/footer/footer-social-link.html.twig' %}
    </div>
{% endblock %}




{% block layout_footer_vat %}
    <div class="container">


    </div>
    {{ parent() }}
{% endblock %}

{% block layout_footer_copyright %}
{% endblock %}